#auth_popup.modal.fade(role = "dialog")
  .modal-dialog.modal_v1
    .modal-content
      .modal-header
        .modal-title
          %span.dynamica_loading
          %span Dynamica importing data from your Shopify
      .modal-body
        %h3
          To see
          = succeed "analytics" do
            %span.fw_700 Bling-Blings
          you need sign up
      .modal-soc_auth
        .control-box
          %a.btn-social-auth.btn-facebook(href="#{user_omniauth_authorize_url(:facebook)}")
            %i.icon.fa.fa-facebook>
            Facebook
        .control-box
          %a.btn-social-auth.btn-google(href="#{user_omniauth_authorize_url(:google_oauth2)}")
            %i.icon.fa.fa-google-plus>
            Google plus
      .form_holder
        %form(action = user_session_path method='POST')
          = hidden_field_tag :authenticity_token, form_authenticity_token
          .alternal_auth= t('landing.auth_popup.enter_mail_manually')
          .control-box
            %input.form-control(placeholder = "#{t('landing.auth_popup.email')}" type = "text" ng-model='vm.sign_in_email')
          .control-box
            %input.form-control(placeholder = "#{t('landing.auth_popup.password')}" type = "password" ng-model='vm.sign_in_password')
          .control-box.text-center.btn_holder
            %button.btn.btn-lg.btn-danger(ng-click = "vm.sign_in(vm.sign_in_email, vm.sign_in_password)")= t('landing.auth_popup.go')
          .control-box.text-center.btn_holder
            %a.btn-link.forgot_pass_link(href = "" ng-click="vm.modal('restore_pass_popup','show')")= t('landing.auth_popup.i_forgot_password')
